<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PassionateRing" connectionString="Data Source=.;Initial Catalog=PassionateRing;User ID=sa;Password=bigmouthz;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="uploadcatalog" value="C:/commercial/web/docs/" />
    <add key="uploadcatalogbyweb" value="/docs" />
    <!-- local|domain -->
    <add key="logintype" value="local" />
    <add key="logindomain" value="fydomain" />
    <!-- wssso-->
    <add key="SSOSYSTEM" value="meeting"/>
    <add key="SSOID" value="MEETINGUSER"/>
    <add key="SSOPW" value="KQAgACAARgAgACIALAAgACwAUAAgAFQAIAAjADgAIAAqAFAAIQBEACAAJgBEACAAOAAwACEATgAgACYAQAAgADwAMAAgAEMAIAAnADwAIAA6ACAAIQBNACAAJgA0ACAAKQAwACAAUQAgACMAKAAgACwAUAAgAFQAIAAjADQAIAAtAEAAIABXACAAIwBAACAA"/>
  </appSettings>
</configuration>